# Python Basic : Data Types and Operators 


**Everything is an Object**

Python treats every value or data item whether numeric,
string, or other type (discussed in the next section) as
an object in the sense that it can be assigned to some
variable or can be passed to a function as an argument.
Every object in Python is assigned a unique identity
(ID) which remains the same for the lifetime of that object.
This ID is akin to the memory address of the object. The
function id() returns the identity of an object

In [90]:
#initailization of Notebook 
lb=80*'-'

In [91]:
num1=5
num2=9

print("num1 id=",id(num1)," num2 id=",id(num2))

num1 id= 140615828511152  num2 id= 140615828511280

### DATATYPE

**Number** <br>

> 1.Integer (int)  Ex - 1,2,-3 <br>
        >> a) Boolean (bool) Ex- True 1, False 0   <br>

> 2.Floating Point (float) Ex- -2.04 <br>

> 3. Complex (complex)  Ex- 3 + 4j <br>
   
**Sequence** <br> 

> 1.Strings <br>
>>String is a group of characters. These characters may be
>>alphabets, digits or special characters including spaces.
>>String values are enclosed either in single quotation marks (e.g., ‘Hello’)

> 2.Lists - <br> 
>>List is a sequence of items separated by commas and
>>the items are enclosed in square brackets [ ].
>> list1 = [5, 3.4, "New Delhi", "20C", 45]

> 3.Tuples -tuple1 = (10, 20, "Apple", 3.4, 'a')  <br> 
>>Tuple is a sequence of items separated by commas and
>>items are enclosed in parenthesis ( ). This is unlike list,
>>where values are enclosed in brackets [ ]. Once created,
>>we cannot change the tuple. <br>

**Sets** 
>>Set is an unordered collection of items separated by commas
>>and the items are enclosed in curly brackets { }. A set is
>>similar to list, except that it cannot have duplicate entries.
>>Once created, elements of a set cannot be changed.
>>set1 = {10,20,3.14,"New Delhi"} <br>

**None**  myVar = None <br>
>>None is a special data type with a single value. It is
>>used to signify the absence of value in a situation. None
>>supports no special operations, and it is neither False
>>nor 0 (zero).<br>

**Mappings** <br>
> 1.Dictionaries <br>
>>Dictionary in Python holds data items in key-value pairs.
>>Items in a dictionary are enclosed in curly brackets { }.
>>Dictionaries permit faster access to data. Every key is
>>separated from its value using a colon (:) sign. The key
>>: value pairs of a dictionary can be accessed using the
>>key. The keys are usually strings and their values can
>>be any data type. In order to access any value in the
>>dictionary, we have to specify its key in square brackets
>>[ ].<br>
Example 5.8<br>
#create a dictionary<br>
 dict1 = {'Fruit':'Apple','Climate':'Cold', 'Price(kg)':120}<br>

**Mutable and Immutable Data Types** <br>
Sometimes we may require to change or update the values of certain variables used in a program. However, for certain data types, Python does not allow us to change the values once a variable of that type has been created and assigned values. <br>

>>Variables whose values can be changed after they are created and assigned are called mutable. <br>
>>Variables whose values cannot be changed after they are created and assigned are called immutable. <br>
>>>When an attempt is made to update the value of an immutable variable, the old variable is destroyed and a new variable is created by the same name in memory. <br>

Python data types can be classified into mutable and immutable :- <br>
>> **Immutable** <br>
>>> 1. Int<br>
>>> 2. Float<br>
>>> 3. Bool<br>
>>> 4. Complex<br>
>>> 5. Strings<br>
>>> 6. Tuples() - Never changed constant list<br>
>>> 7. Sets{}- Uniqueness of elements and to avoid duplicacy it is preferable to use sets <br>

>> **Mutable** <br>
>>> 1. Lists[ ] Frequent changes are needed <br>
>>> 2. Dictionary{1:2} <br>

In [92]:
a=1
print("a is of type: ", type(a))

a is of type:  <class 'int'>

In [93]:
f=10.34
print("f is of type",type(f))

f is of type <class 'float'>

In [94]:
b=True
print("b is of type",type(b))

b is of type <class 'bool'>

In [95]:
c=2+1j
print("c is of type",type(c))

c is of type <class 'complex'>

In [96]:
s="cat"
print("s is of type",type(s))

s is of type <class 'str'>

In [97]:
t=('mon','tue')
print("t is of type",type(t))

t is of type <class 'tuple'>

In [98]:
s1={1,2}
print("s1 is of type",type(s1))

s1 is of type <class 'set'>

In [99]:
l=[1,2,3]
print("l is of type",type(l))

l is of type <class 'list'>

In [100]:
d={'name':'john','surname':'doe'}
print("d is of type",type(d))

d is of type <class 'dict'>

## Arithmetic Operators in Python

**Operators :**
> 1. Addition +
> 2. Subtraction - 
> 3. Multiplication *
> 4. Division /
> 5. Modulus %
> 6. Floor Division //
> 7. Exponent **

In [101]:
num1=102
num2=10
print("Example of Numeric Arithmetic Operators in Python:-")
print("num1+num2=",num1+num2)
print("num1-num2=",num1-num2)
print("num1*num2=",num1*num2)
print("num1/num2=",num1/num2)
print("num1%num2=",num1%num2)
print("num1//num2=",num1//num2)
print("num1**num2=",num1**num2)

Example of Numeric Arithmetic Operators in Python:-
num1+num2= 112
num1-num2= 92
num1*num2= 1020
num1/num2= 10.2
num1%num2= 2
num1//num2= 10
num1**num2= 121899441999475713024

# Assignment Operators

**Operator**
> 1. Equal (=)
> 2. Adding (+=)
> 3. Subtracting (-=)
> 4. Multiplication (*=)
> 5. Division (/=)
> 6. Modulus (%=)
> 7. Floor Division (//=)
> 8. Exponential (**=)

In [102]:
num3=102
print("Example of Numeric Assignment Operators in Python:-")
num4=num3
print("num4=num3",num4)
num4+=num3
print("num4+=num3",num4)
num4-=num3
print("num4-=num3",num4)
num4*=num3
print("num4*=num3",num4)
num4/=num3
print("num4/=num3",num4)
num4%=num3
print("num4%=num3",num4)
num4//=num3
print("num4//=num3",num4)
num4**=num3
print("num4**=num3",num4)

Example of Numeric Assignment Operators in Python:-
num4=num3 102
num4+=num3 204
num4-=num3 102
num4*=num3 10404
num4/=num3 102.0
num4%=num3 0.0
num4//=num3 0.0
num4**=num3 0.0

# Logical Operators

> 1. and  - If both the operands are True, then condition becomes True
> 2. or  - If any of the two operands are True, then condition becomes True
> 3. not - Used to reverse the logical state of its operand

There are three logical operators supported by Python. These operators (and, or, not) are to be written in lower case only. The logical operator evaluates to either True or False based on the logical operands on either side. Every value is logically either True or False. By
default, all values are True except None, False, 0(zero), empty collections "", (), [], {}, and few other special
values.

In [103]:
#AND test 
print("True and True =", True and True)
print("True and False =", True and False)
print("False and False =", False and False)
i = 10 
j = -30
print("bool(i and j) =", bool(i and j))
k = 0
print("bool(i and k) =", bool(i and k))

True and True = True
True and False = False
False and False = False
bool(i and j) = True
bool(i and k) = False

In [104]:
#OR test 
print("True or True =", True or True)
print("True or False =", True or False)
print("False or False =", False or False)
i = 10 
j = -30
print("bool(i or j) =", bool(i or j))
k = 0
print("bool(i or k) =", bool(i or k))

True or True = True
True or False = True
False or False = False
bool(i or j) = True
bool(i or k) = True

In [105]:
#not
k=0
print("bool(k) =", bool(k))
k= not k
print("not bool(k) =", bool(k))

bool(k) = False
not bool(k) = True

# Identity Operators
> 1. is - Evaluates True if the variables on either side of the operator point towards the same memory location and False otherwise. var1 is var2 results to True if id(var1) is equal to id(var2)
> 2. is not - Evaluates to False if the variables on either side of the operator point to the same memory location and True otherwise. var1 is not var2 results to True if id(var1) is not equal to id(var2)

In [106]:
num1 = 5 
num2 = num1 
print("id of num1=", id(num1))
print("id of num2=", id(num2))
print("num1 is num2=",num1 is num2)
print("num1 is not num2=",num1 is not num2)

id of num1= 140615828511152
id of num2= 140615828511152
num1 is num2= True
num1 is not num2= False

# Membership Operators

Membership operators are used to check if a value is a member of the given sequence or not.
> 1. in 
> 2. not in

In [107]:
l = [1,2,3,4,5]
print("2 in list 1:", 2 in l)
print("99 in list l:" , 99 in l)
print(lb)
print("2 not in list 1:", 2 not in l)
print("99 not in list l:" , 99 not in l)

2 in list 1: True
99 in list l: False
--------------------------------------------------------------------------------
2 not in list 1: False
99 not in list l: True

# Order of Precedence
**Operators Description**
> 1. ** (Exponentiation (raise to the power))
> 2. ~ ,+, - (Complement, unary plus and unary minus)
> 3. * ,/, %, // (Multiply, divide, modulo and floor division)
> 4. +, - (Addition and subtraction)
> 5. <= , < , > , >=, == , != (Relational and Comparison operators)
> 6. =, %=, /=, //=, -=, +=, *=, ** (Assignment operators)
> 7. is, is not (Identity operators)
> 8. in, not in (Membership operators)
> 9. not (Logical operators)
> 10. and (Logical operators)
> 11. or (Logical operators)


**Note:**
> a) Parenthesis can be used to override the precedence of
operators. The expression within () is evaluated first.
> b) For operators with equal precedence, the expression is
evaluated from left to right.

# Input and Output

The user may enter a number or a string but the input() function treats
them as strings only. The syntax for input() is:
>> input ([Prompt])

In [108]:
name = input("Enter your name:")
print("name is ", name)

Enter your name:John Doe
name is  John Doe

# Type Conversion 

**Explicit type conversion functions in Python**
> 1. int(x)  Converts x to an integer
> 2. float(x) Converts x to a floating-point number
> 3. str(x) Converts x to a string representation
> 4. chr(x) Converts ASCII value of x to character
> 5. ord(x) returns the character associated with the ASCII code x

***Implicit Conversion*** <br>
Implicit conversion, also known as coercion, happens when data type conversion is done automatically by Python and is not instructed by the programmer.
**Program to show implicit conversion from int to float.** <br>
>>Implicit type conversion from int to float <br>
>>num1 = 10 #num1 is an integer<br>
>>num2 = 20.0 #num2 is a float<br>
>>sum1 = num1 + num2 #sum1 is sum of a float and an integer<br>
>>print(sum1)<br>
>>print(type(sum1))<br>

In [109]:
var1 = input("Enter value of numeric type var1=")
var2 = input("Enter value of non numeric type var2=")
var1=int(var1)
print("int(x) of var1= ", int(var1))
print("float(x) of var1= ", float(var1))
print("str(x) of var2", str(var2))
print("chr(x) of var1", chr(var1))
print("ord(x) of var2", ord(var2))

Enter value of numeric type var1=34
Enter value of non numeric type var2=a
int(x) of var1=  34
float(x) of var1=  34.0
str(x) of var2 a
chr(x) of var1 "
ord(x) of var2 97